@media screen and (max-width: 767px) {
    .sidenav {
        height: 50px;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}
.container-fluid {
    height: 100vh;
    overflow: auto;
}

.img-infoWindow {
    width: 100px;
    height: 100px;
}
